In [6]:
import json
import pandas as pd
import io
from pandas.io.json import json_normalize
pd.set_option("display.max_columns", 0)
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy.dialects.postgresql import JSON
from flask import Flask
from dotenv import load_dotenv
load_dotenv()
import numpy as np
import json
from psycopg2.extras import Json
import re
from nltk.corpus import stopwords
import time
import tensorflow as tf
from tensorflow.python.layers.core import Dense
from tensorflow.python.ops.rnn_cell_impl import _zero_state_tensors
from tensorflow.python.ops import array_ops
from tensorflow.python.ops import tensor_array_ops
print(f'TensorFlow Version: {tf.__version__}')
from sklearn.naive_bayes import MultinomialNB
import pickle

TensorFlow Version: 1.13.1

In [7]:
!pip install -U nltk

Collecting nltk
  Downloading https://files.pythonhosted.org/packages/6f/ed/9c755d357d33bc1931e157f537721efb5b88d2c583fe593cc09603076cc3/nltk-3.4.zip (1.4MB)
    100% |████████████████████████████████| 1.4MB 24.4MB/s ta 0:00:01
Requirement not upgraded as not directly required: six in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from nltk) (1.11.0)
Requirement not upgraded as not directly required: singledispatch in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from nltk) (3.4.0.3)
Building wheels for collected packages: nltk
  Running setup.py bdist_wheel for nltk ... done
  Stored in directory: /home/ec2-user/.cache/pip/wheels/4b/c8/24/b2343664bcceb7147efeb21c0b23703a05b23fcfeaceaa2a1e
Successfully built nltk
Installing collected packages: nltk
  Found existing installation: nltk 3.3
    Uninstalling nltk-3.3:
      Successfully uninstalled nltk-3.3
Successfully installed nltk-3.4
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [7]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/ec2-user/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [5]:
!pip install tensorflow

Collecting tensorflow
  Downloading https://files.pythonhosted.org/packages/77/63/a9fa76de8dffe7455304c4ed635be4aa9c0bacef6e0633d87d5f54530c5c/tensorflow-1.13.1-cp36-cp36m-manylinux1_x86_64.whl (92.5MB)
    100% |████████████████████████████████| 92.5MB 587kB/s eta 0:00:011    69% |██████████████████████▍         | 64.7MB 88.0MB/s eta 0:00:01
Collecting grpcio>=1.8.6 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/f4/dc/5503d89e530988eb7a1aed337dcb456ef8150f7c06132233bd9e41ec0215/grpcio-1.19.0-cp36-cp36m-manylinux1_x86_64.whl (10.8MB)
    100% |████████████████████████████████| 10.8MB 5.9MB/s  eta 0:00:01 8% |██▊                             | 901kB 91.6MB/s eta 0:00:01
Requirement already satisfied: six>=1.10.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from tensorflow) (1.11.0)
Collecting tensorboard<1.14.0,>=1.13.0 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/0f/39/bdd75b08a6fba41f098b6cb091b9e8c7a80e1b4d679a581a0ccd17b10373/tensorboard-1.13.1-py3-none-any.whl (3.2MB)
    100% |████████████████████████████████| 3.2MB 1.1MB/s  eta 0:00:01
Collecting astor>=0.6.0 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/35/6b/11530768cac581a12952a2aad00e1526b89d242d0b9f59534ef6e6a1752f/astor-0.7.1-py2.py3-none-any.whl
Collecting protobuf>=3.6.1 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/c5/60/ca38e967360212ddbb004141a70f5f6d47296e1fba37964d8ac6cb631921/protobuf-3.7.0-cp36-cp36m-manylinux1_x86_64.whl (1.2MB)
    100% |████████████████████████████████| 1.2MB 37.6MB/s eta 0:00:01
Requirement already satisfied: wheel>=0.26 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from tensorflow) (0.31.1)
Collecting absl-py>=0.1.6 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/da/3f/9b0355080b81b15ba6a9ffcf1f5ea39e307a2778b2f2dc8694724e8abd5b/absl-py-0.7.1.tar.gz (99kB)
    100% |████████████████████████████████| 102kB 58.1MB/s a 0:00:01
Collecting termcolor>=1.1.0 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/8a/48/a76be51647d0eb9f10e2a4511bf3ffb8cc1e6b14e9e4fab46173aa79f981/termcolor-1.1.0.tar.gz
Collecting keras-preprocessing>=1.0.5 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/c0/bf/0315ef6a9fd3fc2346e85b0ff1f5f83ca17073f2c31ac719ab2e4da0d4a3/Keras_Preprocessing-1.0.9-py2.py3-none-any.whl (59kB)
    100% |████████████████████████████████| 61kB 42.5MB/s ta 0:00:01
Collecting gast>=0.2.0 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/4e/35/11749bf99b2d4e3cceb4d55ca22590b0d7c2c62b9de38ac4a4a7f4687421/gast-0.2.2.tar.gz
Collecting tensorflow-estimator<1.14.0rc0,>=1.13.0 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/bb/48/13f49fc3fa0fdf916aa1419013bb8f2ad09674c275b4046d5ee669a46873/tensorflow_estimator-1.13.0-py2.py3-none-any.whl (367kB)
    100% |████████████████████████████████| 368kB 50.9MB/s eta 0:00:01
Collecting keras-applications>=1.0.6 (from tensorflow)
  Downloading https://files.pythonhosted.org/packages/90/85/64c82949765cfb246bbdaf5aca2d55f400f792655927a017710a78445def/Keras_Applications-1.0.7-py2.py3-none-any.whl (51kB)
    100% |████████████████████████████████| 61kB 44.6MB/s ta 0:00:01
Requirement already satisfied: numpy>=1.13.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from tensorflow) (1.14.5)
Requirement already satisfied: werkzeug>=0.11.15 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from tensorboard<1.14.0,>=1.13.0->tensorflow) (0.14.1)
Collecting markdown>=2.6.8 (from tensorboard<1.14.0,>=1.13.0->tensorflow)
  Downloading https://files.pythonhosted.org/packages/7a/6b/5600647404ba15545ec37d2f7f58844d690baf2f81f3a60b862e48f29287/Markdown-3.0.1-py2.py3-none-any.whl (89kB)
    100% |████████████████████████████████| 92kB 53.9MB/s ta 0:00:01
Requirement already satisfied: setuptools in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from protobuf>=3.6.1->tensorflow) (39.1.0)
Requirement already satisfied: mock>=2.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from tensorflow-estimator<1.14.0rc0,>=1.13.0->tensorflow) (2.0.0)
Requirement already satisfied: h5py in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from keras-applications>=1.0.6->tensorflow) (2.8.0)
Requirement already satisfied: pbr>=0.11 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from mock>=2.0.0->tensorflow-estimator<1.14.0rc0,>=1.13.0->tensorflow) (5.1.1)
Building wheels for collected packages: absl-py, termcolor, gast
  Running setup.py bdist_wheel for absl-py ... done
  Stored in directory: /home/ec2-user/.cache/pip/wheels/ee/98/38/46cbcc5a93cfea5492d19c38562691ddb23b940176c14f7b48
  Running setup.py bdist_wheel for termcolor ... done
  Stored in directory: /home/ec2-user/.cache/pip/wheels/7c/06/54/bc84598ba1daf8f970247f550b175aaaee85f68b4b0c5ab2c6
  Running setup.py bdist_wheel for gast ... done
  Stored in directory: /home/ec2-user/.cache/pip/wheels/5c/2e/7e/a1d4d4fcebe6c381f378ce7743a3ced3699feb89bcfbdadadd
Successfully built absl-py termcolor gast
Installing collected packages: grpcio, protobuf, markdown, absl-py, tensorboard, astor, termcolor, keras-preprocessing, gast, tensorflow-estimator, keras-applications, tensorflow
  Found existing installation: protobuf 3.6.0
    Uninstalling protobuf-3.6.0:
      Successfully uninstalled protobuf-3.6.0
Successfully installed absl-py-0.7.1 astor-0.7.1 gast-0.2.2 grpcio-1.19.0 keras-applications-1.0.7 keras-preprocessing-1.0.9 markdown-3.0.1 protobuf-3.7.0 tensorboard-1.13.1 tensorflow-1.13.1 tensorflow-estimator-1.13.0 termcolor-1.1.0
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [8]:
import os
DATABASE_URL = os.getenv("DATABASE_URL")
BUSINESS_DATABASE_URL = os.getenv("BUSINESS_DATABASE_URL")
BUSINESS_TEST = os.getenv("BUSINESS_TEST")

In [9]:
BUSINESS_DATABASE_URL, DATABASE_URL, BUSINESS_TEST

('postgres://kvpmewwuocndeu:290d7143d73ce041095858b8c8d22c2cfcc99cdca16dbc3ff2ab5f2d5df35108@ec2-75-101-133-29.compute-1.amazonaws.com:5432/d3ckh7s6ihh2al',
 'postgres://juwwvohcorbolo:ce3d8c3e671044f8e15c880db71ce26146826e3f126da53a55788f7f0a7a54ae@ec2-23-23-173-30.compute-1.amazonaws.com:5432/d4l0sqaog7kpe0',
 'postgres://jnxpcmkaaavqwv:bdd7c44b57e1ff20d16a85238b87cba387260d45054b969f68417bc8a8963508@ec2-50-17-227-28.compute-1.amazonaws.com:5432/d99mq010h4mk44')

In [11]:
# A list of contractions from http://stackoverflow.com/questions/19790188/expanding-english-language-contractions-in-python
contractions = { 
"ain't": "am not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he's": "he is",
"how'd": "how did",
"how'll": "how will",
"how's": "how is",
"i'd": "i would",
"i'll": "i will",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'll": "it will",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"must've": "must have",
"mustn't": "must not",
"needn't": "need not",
"oughtn't": "ought not",
"shan't": "shall not",
"sha'n't": "shall not",
"she'd": "she would",
"she'll": "she will",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"that'd": "that would",
"that's": "that is",
"there'd": "there had",
"there's": "there is",
"they'd": "they would",
"they'll": "they will",
"they're": "they are",
"they've": "they have",
"wasn't": "was not",
"we'd": "we would",
"we'll": "we will",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"where'd": "where did",
"where's": "where is",
"who'll": "who will",
"who's": "who is",
"won't": "will not",
"wouldn't": "would not",
"you'd": "you would",
"you'll": "you will",
"you're": "you are"
}

In [12]:
def clean_text(text, remove_stopwords = True, join_at_end = False):
    '''Remove unwanted characters, stopwords, and format the text to create fewer nulls word embeddings'''
    
    # Convert words to lower case
    text = text.lower()
    # Replace contractions with their longer forms 
    if True:
        # We are not using "text.split()" here
        #since it is not fool proof, e.g. words followed by punctuations "Are you kidding?I think you aren't."
        text = re.findall(r"[\w']+", text)
        new_text = []
        for word in text:
            if word in contractions:
                new_text.append(contractions[word])
            else:
                new_text.append(word)
        text = " ".join(new_text)
    
    # Format words and remove unwanted characters
    text = re.sub(r'https?:\/\/.*[\r\n]*', '', text, flags=re.MULTILINE)# remove links
    text = re.sub(r'\<a href', ' ', text)# remove html link tag
    text = re.sub(r'&amp;', '', text) 
    text = re.sub(r'[_"\-;%()|+&=*%.,!?:#$@\[\]/]', ' ', text)
    text = re.sub(r'<br />', ' ', text)
    text = re.sub(r'\'', ' ', text)
    
    # Optionally, remove stop words
    if remove_stopwords:
        text = text.split()
        stops = set(stopwords.words("english"))
        text = [w for w in text if not w in stops]
        if join_at_end:
            text = " ".join(text)

    return text

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
cv_transformer = CountVectorizer(analyzer = clean_text)

In [23]:
x = cv_transformer.fit_transform(df.text)

In [24]:
nb = MultinomialNB()
nb.fit(x,df.stars)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [84]:
nb.predict(x[2:3])[0]

5.0

In [25]:
df['pstar'] = nb.predict(x)

In [26]:
df.head()

              business_id  ...    pstar
0  ujmEBvifdJM6h6RLv4wQIg  ...      1.0
1  NZnhc2sEQy3RmzKTZnqtwQ  ...      5.0
2  WTqjgwHlXbSFevF32_DJVw  ...      5.0
3  ikCg8xy5JIg_NGPx-MSIDA  ...      4.0
4  b1b1eb3uo-w561D0ZfCEiQ  ...      1.0

[5 rows x 11 columns]

In [27]:
pickle.dump(df, open('region_df_pstar_ptext.pql', 'wb'))

In [ ]:
# !chmod 600 /home/ec2-user/.kaggle/kaggle.json

In [ ]:
# !kaggle datasets download -d yelp-dataset/yelp-dataset

In [ ]:
# !unzip yelp-dataset.zip

In [21]:
data = []
with open('yelp_academic_dataset_user.json') as file:
    for line in file:
        j = json.loads(line)
        data.append(j)

In [22]:
dfu = pd.DataFrame(data)

In [23]:
dfu.shape

(1637138, 22)

In [24]:
max(dfu.user_id.str.len())

22

In [25]:
dfu.head()

   average_stars         ...                 yelping_since
0           4.03         ...           2013-10-08 23:11:33
1           3.63         ...           2013-02-21 22:29:06
2           3.71         ...           2013-10-04 00:16:10
3           4.85         ...           2014-05-22 15:57:30
4           4.08         ...           2013-10-23 07:02:50

[5 rows x 22 columns]

In [27]:
pickle.dump(dfu, open('dfu.pql', 'wb'))

In [13]:
data = []
with open('yelp_academic_dataset_review.json') as file:
    for line in file:
        j = json.loads(line)
        data.append(j)

In [13]:
len(data)

6685900

In [15]:
pickle.dump(data, open('data.pkl', 'wb'))

In [ ]:
data[len(data) - 1]

In [16]:
df = pd.DataFrame(data)

In [27]:
dft = df[['stars', 'pstar', 'business_id']]

In [17]:
pickle.dump(df, open('review_df.pkl', 'wb'))

In [28]:
dftm = dft.groupby('business_id').mean()

In [37]:
dftm.shape

(192606, 2)

In [39]:
dftm.head()

                           stars     pstar
business_id
--1UhMGODdWsrMastO9DZw  4.076923  4.500000
--6MefnULPED_I942VcFNA  3.173913  3.739130
--7zmmkVg-IMGaXbuVd0SQ  3.898305  4.525424
--8LPVSo5i0Oo61X01sV9A  3.500000  5.000000
--9QQLMTbFzLJ_oT-ON3Xw  3.307692  4.307692

In [47]:
jbdfr = bdfr.join(dftm, on="business_id")

In [48]:
jbdfr.shape

(192609, 16)

In [34]:
dftm.join(bdfr.set_index('business_id'), on="business_id")

KeyError: 'business_id'

In [40]:
df.shape

(6685900, 9)

In [41]:
df.head()

              business_id           ...                           user_id
0  ujmEBvifdJM6h6RLv4wQIg           ...            hG7b0MtEbXx5QzbzE6C_VA
1  NZnhc2sEQy3RmzKTZnqtwQ           ...            yXQM5uF2jS6es16SJzNHfg
2  WTqjgwHlXbSFevF32_DJVw           ...            n6-Gk65cPZL6Uz8qRm3NYw
3  ikCg8xy5JIg_NGPx-MSIDA           ...            dacAIZ6fTM6mqwW5uxkskg
4  b1b1eb3uo-w561D0ZfCEiQ           ...            ssoyf2_x0EQMed6fgHeMyQ

[5 rows x 9 columns]

In [18]:
df['ctext'] = df.text.apply(lambda t: clean_text(t, join_at_end = True))
# clean_texts = []
# for text in df.review:
#     clean_texts.append(clean_text(text))
print("Texts are complete.")

Texts are complete.

In [21]:
pickle.dump(df, open('review_df_ctext.pkl', "wb"))

In [30]:
data = []
with open('yelp_academic_dataset_business.json') as file:
    for line in file:
        j = json.loads(line)
        data.append(j)

In [31]:
bdf = pd.DataFrame(data)

In [32]:
bdf.shape

(192609, 14)

In [ ]:
bdf.head()

In [ ]:
print(bdf[2:3].attributes)

In [49]:
jbdfr.columns

Index(['address', 'attributes', 'business_id', 'categories', 'city', 'hours',
       'is_open', 'latitude', 'longitude', 'name', 'postal_code',
       'review_count', 'business_stars', 'state', 'stars', 'pstar'],
      dtype='object')

In [55]:
jbdfr.head()

                          address    ...        pstar
0     2818 E Camino Acequia Drive    ...     4.000000
1            30 Eglinton Avenue W    ...     3.731343
2       10110 Johnston Rd, Ste 15    ...     4.449438
3   15655 W Roosevelt St, Ste 237    ...     5.000000
4  4209 Stuart Andrew Blvd, Ste F    ...     5.000000

[5 rows x 16 columns]

In [ ]:
# bfd_hours = bdf.hours.dropna()
max(bdf.state.str.len())

In [33]:
bdfr = bdf.rename(index=str, columns={"stars": "business_stars"});

In [60]:
APP = Flask(__name__)
APP.config['SQLALCHEMY_DATABASE_URI'] = BUSINESS_DATABASE_URL
APP.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

# APP.config['SQLALCHEMY_BINDS'] = {
#     'reviewtwo': DATABASE_URL
# }
APP.config['extend_existing']=True
DB = SQLAlchemy(APP)

In [61]:
class ebusiness(DB.Model):
    id = DB.Column(DB.Integer, primary_key=True)
    address = DB.Column(DB.String(128), nullable=False) 
    attributes = DB.Column(JSON)
    business_id = DB.Column(DB.String(25), nullable=False)
    categories = DB.Column(DB.String(1024), nullable=True)
    city = DB.Column(DB.String(64), nullable=False)
    hours = DB.Column(JSON, nullable=True)
    is_open = DB.Column(DB.Integer, nullable=False)
    latitude = DB.Column(DB.Float, nullable=False)
    longitude = DB.Column(DB.Float, nullable=False)
    name = DB.Column(DB.String(64), nullable=False)
    postal_code = DB.Column(DB.String(8), nullable=False)
    review_count = DB.Column(DB.BigInteger, nullable=False)
    business_stars = DB.Column(DB.Float, nullable=False)
    state = DB.Column(DB.String(3), nullable=False)
    average_stars = DB.Column(DB.Float, nullable=False)
    average_pstars = DB.Column(DB.Float, nullable=False)


    def __repr__(self):
        return f"Attributes {self.attributes} ---  Address {self.address} ---  Name {self.name} -- Stars {self.business_stars} -- Hours {self.hours}"

In [24]:
DB.drop_all()
DB.create_all()

In [62]:
DB.session.rollback()

In [52]:
?json.dumps

In [63]:

target = jbdfr.shape[0]
done = 0
step = 10000
while done < target:
    todo = min(target - done, step)
    for row in np.ascontiguousarray(jbdfr[done:done+todo].values):
        #print(type(row[1]), row[1])
#         json.dumps(row[1].__dict__)
        dictionarya = json.dumps(row[1])
        dictionaryh = json.dumps(row[5])
#         print(dictionary)
        dgo = ebusiness(address=row[0],attributes=dictionarya, business_id=row[2], categories=row[3],
                     city=row[4], hours=dictionaryh, is_open=row[6], latitude=row[7], longitude=row[8], name=row[9], 
                      postal_code=row[10], review_count=row[11], business_stars = row[12], state=row[13],
                       average_stars=row[14], average_pstars=row[15]
                      )
        DB.session.add(dgo)
    DB.session.commit()
    done += todo
    print('done', done, end=" ")
#     break

done 10000 done 20000 done 30000 done 40000 done 50000 done 60000 done 70000 done 80000 done 90000 done 100000 done 110000 done 120000 done 130000 done 140000 done 150000 done 160000 done 170000 done 180000 done 190000 done 192609

In [14]:
for row in DB.session.query(business).filter(business.business_id =='gnKjwL_1w79qoiV3IC_xQQ'):
    print(row)

Attributes {"GoodForKids": "True", "NoiseLevel": "u'average'", "RestaurantsDelivery": "False", "GoodForMeal": "{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}", "Alcohol": "u'beer_and_wine'", "Caters": "False", "WiFi": "u'no'", "RestaurantsTakeOut": "True", "BusinessAcceptsCreditCards": "True", "Ambience": "{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': True}", "BusinessParking": "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", "RestaurantsTableService": "True", "RestaurantsGoodForGroups": "True", "OutdoorSeating": "False", "HasTV": "True", "BikeParking": "True", "RestaurantsReservations": "True", "RestaurantsPriceRange2": "2", "RestaurantsAttire": "'casual'"} ---  Address 10110 Johnston Rd, Ste 15 ---  Name Musashi Japanese Restaurant -- Stars 4.0 -- Hours {"Monday": "17:30-21:30", "Wednesday": "17:30-21:30", "Thursday": "17:30-21:30", "Friday": "17:30-22:0", "Saturday": "17:30-22:0", "Sunday": "17:30-21:0"}

In [ ]:
jdf = df.join(bdfr.set_index('business_id'), on="business_id")

In [ ]:
jdf.head()

In [ ]:
jdf[jdf.business_stars.notnull()].head()

In [1]:
!pip install python-dotenv

Collecting python-dotenv
  Downloading https://files.pythonhosted.org/packages/8c/14/501508b016e7b1ad0eb91bba581e66ad9bfc7c66fcacbb580eaf9bc38458/python_dotenv-0.10.1-py2.py3-none-any.whl
Installing collected packages: python-dotenv
Successfully installed python-dotenv-0.10.1
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/2c/85/97db05dd8f6adff57cd1cb8acceeffdaf4724efec18b9af23f3cd75ad089/psycopg2_binary-2.7.7-cp36-cp36m-manylinux1_x86_64.whl (2.7MB)
    100% |████████████████████████████████| 2.7MB 17.5MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.7.7
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
!pip install flask_sqlalchemy

Collecting flask_sqlalchemy
  Downloading https://files.pythonhosted.org/packages/a1/44/294fb7f6bf49cc7224417cd0637018db9fee0729b4fe166e43e2bbb1f1c8/Flask_SQLAlchemy-2.3.2-py2.py3-none-any.whl
Requirement already satisfied: Flask>=0.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from flask_sqlalchemy) (1.0.2)
Requirement already satisfied: SQLAlchemy>=0.8.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from flask_sqlalchemy) (1.2.11)
Requirement already satisfied: Werkzeug>=0.14 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from Flask>=0.10->flask_sqlalchemy) (0.14.1)
Requirement already satisfied: Jinja2>=2.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from Flask>=0.10->flask_sqlalchemy) (2.10)
Requirement already satisfied: click>=5.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from Flask>=0.10->flask_sqlalchemy) (6.7)
Requirement already satisfied: itsdangerous>=0.24 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from Flask>=0.10->flask_sqlalchemy) (0.24)
Requirement already satisfied: MarkupSafe>=0.23 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from Jinja2>=2.10->Flask>=0.10->flask_sqlalchemy) (1.0)
Installing collected packages: flask-sqlalchemy
Successfully installed flask-sqlalchemy-2.3.2
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [38]:
APP = Flask(__name__)

In [39]:
APP.config['SQLALCHEMY_DATABASE_URI'] = DATABASE_URL
APP.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

# APP.config['SQLALCHEMY_BINDS'] = {
#     'reviewtwo': DATABASE_URL
# }
APP.config['extend_existing']=True
DB = SQLAlchemy(APP)

In [30]:
df.columns

Index(['business_id', 'cool', 'date', 'funny', 'review_id', 'stars', 'text',
       'useful', 'user_id', 'ctext', 'pstar'],
      dtype='object')

In [91]:
max(df.ctext.apply(len))

4773

In [31]:
df.dtypes

business_id     object
cool             int64
date            object
funny            int64
review_id       object
stars          float64
text            object
useful           int64
user_id         object
ctext           object
pstar          float64
dtype: object

In [32]:
!python -V

Python 3.6.5 :: Anaconda custom (64-bit)

In [40]:
class review(DB.Model):
    id = DB.Column(DB.Integer, primary_key=True)
    business_id = DB.Column(DB.String(25), nullable=False)
    date = DB.Column(DB.DateTime, nullable=False)
    stars = DB.Column(DB.Integer, nullable=False)
    pstars = DB.Column(DB.Integer, nullable=False)
    text = DB.Column(DB.String(5000), nullable=False)
    ctext = DB.Column(DB.String(5000), nullable=False)
    user_id = DB.Column(DB.String(25), nullable=False)
    review_id = DB.Column(DB.String(25), nullable=False)

    def __repr__(self):
        return f"Data {self.date} ---  Text {self.text}"

In [ ]:
# for index, row in np.ascontiuousarray(X_train)df.iterrows():
#         if (index > 1) and (index % 2 == 0):
#             print(index)
#             DB.session.commit()
#         dgo = Record(business_id=row.business_id, cool=row.cool, date=row.data, funny=row.funny,
#                      review_id=row.review_id, stars=row.stars, text=row.text, useful=row.useful)
#         DB.session.add(dgo)

In [101]:
DB.drop_all()

In [102]:
DB.create_all()

In [ ]:
i = 1
for row in np.ascontiguousarray(df.values):
     if i % 1000 == 0:
        print(i,end="")
#       DB.commit() 
     dgo = review(business_id=row[0], cool=row[1], date=row[2], funny=row[3],
                 review_id=row[4], stars=row[5], text=row[6], useful=row[7])
     DB.session.add(dgo)

In [ ]:
DB.session.commit()

In [ ]:
df.iloc[0,1]

In [ ]:
L = df.shape[0]

In [37]:
DB.session.rollback()

In [95]:
df.columns

Index(['business_id', 'cool', 'date', 'funny', 'review_id', 'stars', 'text',
       'useful', 'user_id', 'ctext', 'pstar'],
      dtype='object')

0 'business_id', 1 'cool', 2 'date', 3 'funny', 4 'review_id', 5 'stars', 6 'text',
       7 'useful', 8 'user_id', 9 'ctext', 10 'pstar'],
      dtype='object')

In [42]:
DB.session.rollback()

In [43]:
target = df.shape[0]
print(target)
done = 0
step = 100000
while done < target:
    todo = min(target - done, step)
    for row in np.ascontiguousarray(df[done:done+todo].values):
        dgo = review(business_id=row[0], date=row[2], stars=row[5], pstars=row[10], text=row[6], ctext=row[9])
        DB.session.add(dgo)
    DB.session.commit()
    done += todo
    print('done', done, end=" ")
#     break

6685900
done 100000 done 200000 done 300000 done 400000 done 500000 done 600000 done 700000 done 800000 done 900000 done 1000000 done 1100000 done 1200000 done 1300000 done 1400000 done 1500000 done 1600000 done 1700000 done 1800000 done 1900000 done 2000000 done 2100000 done 2200000 done 2300000 done 2400000 done 2500000 done 2600000 done 2700000 done 2800000 done 2900000 done 3000000 done 3100000 done 3200000 done 3300000 done 3400000 done 3500000 done 3600000 done 3700000 done 3800000 done 3900000 done 4000000 done 4100000 done 4200000 done 4300000 done 4400000 done 4500000 done 4600000 done 4700000 done 4800000 done 4900000 done 5000000 done 5100000 done 5200000 done 5300000 done 5400000 done 5500000 done 5600000 done 5700000 done 5800000 done 5900000 done 6000000 done 6100000 done 6200000 done 6300000 done 6400000 done 6500000 done 6600000 done 6685900

In [ ]:
target = df.shape[0]
done = 0
step = 100000
while done < target:
    todo = min(target - done, step)
    for row in np.ascontiguousarray(df[done:done+todo].values):
        dgo = Record(business_id=row[0], cool=row[1], date=row[2], funny=row[3],
                 review_id=row[4], stars=row[5], text=row[6], useful=row[7])
        DB.session.add(dgo)
    DB.session.commit()
    done += todo
    print('done', done, end="")

In [105]:
target

6685900

In [ ]:
class review(DB.Model):
    id = DB.Column(DB.Integer, primary_key=True)
    business_id = DB.Column(DB.String(25), nullable=False)
    cool = DB.Column(DB.BigInteger, nullable=False)
    date = DB.Column(DB.DateTime, nullable=False)
    funny = DB.Column(DB.BigInteger, nullable=False)
    review_id = DB.Column(DB.String(25), nullable=False)
    stars = DB.Column(DB.Integer, nullable=False)
    text = DB.Column(DB.String(5000), nullable=False)
    useful = DB.Column(DB.BigInteger, nullable=False)

    def __repr__(self):
        return f"review_id {self.review_id} ---  star {self.stars}"

In [ ]:
for row in DB.session.query(review).filter(review.review_id =='Q1sbwvVQXV2734tPgoKj4Q'):
    print(row)

In [50]:
APP = Flask(__name__)
APP.config['SQLALCHEMY_DATABASE_URI'] = DATABASE_URL
APP.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

# APP.config['SQLALCHEMY_BINDS'] = {
#     'reviewtwo': DATABASE_URL
# }
APP.config['extend_existing']=True
DB = SQLAlchemy(APP)

In [51]:
class reviewer(DB.Model):
    id = DB.Column(DB.Integer, primary_key=True)
    user_id = DB.Column(DB.String(22), nullable=False)
    name = DB.Column(DB.String(32), nullable=False)
    average_stars = DB.Column(DB.Float, nullable=False)

In [37]:
dfu.columns

Index(['average_stars', 'compliment_cool', 'compliment_cute',
       'compliment_funny', 'compliment_hot', 'compliment_list',
       'compliment_more', 'compliment_note', 'compliment_photos',
       'compliment_plain', 'compliment_profile', 'compliment_writer', 'cool',
       'elite', 'fans', 'friends', 'funny', 'name', 'review_count', 'useful',
       'user_id', 'yelping_since'],
      dtype='object')

Index([ 0  'average_stars',1 'compliment_cool', 2'compliment_cute',
      3 'compliment_funny', 4'compliment_hot',5 'compliment_list',
      6 'compliment_more', 7'compliment_note', 8'compliment_photos',
      9 'compliment_plain', 9'compliment_profile', 10'compliment_writer',11 'cool',
      12 'elite',13 'fans',14 'friends' 15, 'funny' 16, 'name',17 'review_count',18 'useful',
       19'user_id', 'yelping_since'],
      dtype='object')

In [38]:
dfu.dtypes

average_stars         float64
compliment_cool         int64
compliment_cute         int64
compliment_funny        int64
compliment_hot          int64
compliment_list         int64
compliment_more         int64
compliment_note         int64
compliment_photos       int64
compliment_plain        int64
compliment_profile      int64
compliment_writer       int64
cool                    int64
elite                  object
fans                    int64
friends                object
funny                   int64
name                   object
review_count            int64
useful                  int64
user_id                object
yelping_since          object
dtype: object

average_stars         float64 0
compliment_cool         int64 1
compliment_cute         int64 2
compliment_funny        int64 3
compliment_hot          int64 4
compliment_list         int64 5
compliment_more         int64 6
compliment_note         int64 7
compliment_photos       int64 8
compliment_plain        int64 9
compliment_profile      int64 10
compliment_writer       int64 11
cool                    int64 12
elite                  object 13
fans                    int64 14
friends                object 15
funny                   int64 16
name                   object 17
review_count            int64 18
useful                  int64 19
user_id                object 20
yelping_since          object 21
dtype: object
In [39]:
￼

In [39]:
dfu.shape

(1637138, 22)

In [52]:
target = dfu.shape[0]
print(target)
done = 0
step = 50000
while done < target:
    todo = min(target - done, step)
    for row in np.ascontiguousarray(dfu[done:done+todo].values):
        dgo = reviewer(user_id=row[20], name=row[17], average_stars=row[0])
        DB.session.add(dgo)
    DB.session.commit()
    done += todo
    print('done', done, end=" ")

1637138
done 50000 done 100000 done 150000 done 200000 done 250000 done 300000 done 350000 done 400000 done 450000 done 500000 done 550000 done 600000 done 650000 done 700000 done 750000 done 800000 done 850000 done 900000 done 950000 done 1000000 done 1050000 done 1100000 done 1150000 done 1200000 done 1250000 done 1300000 done 1350000 done 1400000 done 1450000 done 1500000 done 1550000 done 1600000 done 1637138

In [10]:
df = pickle.load( open( "region_df_pstar_ptext.pql", "rb" ) )

In [12]:
df.dtypes

business_id     object
cool             int64
date            object
funny            int64
review_id       object
stars          float64
text            object
useful           int64
user_id         object
ctext           object
pstar          float64
dtype: object

business_id     object 0
cool             int64 1
date            object 2
funny            int64 3
review_id       object 4
stars          float64 5
text            object 6
useful           int64 7
user_id         object 8
ctext           object 9
pstar          float64 10
dtype: object

In [13]:
APP = Flask(__name__)
APP.config['SQLALCHEMY_DATABASE_URI'] = DATABASE_URL
APP.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

# APP.config['SQLALCHEMY_BINDS'] = {
#     'reviewtwo': DATABASE_URL
# }
APP.config['extend_existing']=True
DB = SQLAlchemy(APP)

In [15]:
class review(DB.Model):
    id = DB.Column(DB.Integer, primary_key=True)
    business_id = DB.Column(DB.String(25), nullable=False)
    date = DB.Column(DB.DateTime, nullable=False)
    stars = DB.Column(DB.Integer, nullable=False)
    pstars = DB.Column(DB.Integer, nullable=False)
    text = DB.Column(DB.String(5000), nullable=False)
    ctext = DB.Column(DB.String(5000), nullable=False)
    user_id = DB.Column(DB.String(25), nullable=False)
    review_id = DB.Column(DB.String(25), nullable=False)

    def __repr__(self):
        return f"Data {self.date} ---  Text {self.text}"

In [16]:
df_sorted = df.sort_values(by=['business_id', 'user_id', 'review_id'])

In [18]:
df_sorted.head()

                    business_id  ...    pstar
4839972  --1UhMGODdWsrMastO9DZw  ...      4.0
5108967  --1UhMGODdWsrMastO9DZw  ...      4.0
4783181  --1UhMGODdWsrMastO9DZw  ...      4.0
4867118  --1UhMGODdWsrMastO9DZw  ...      4.0
5220326  --1UhMGODdWsrMastO9DZw  ...      3.0

[5 rows x 11 columns]

business_id     object 0
cool             int64 1
date            object 2
funny            int64 3
review_id       object 4
stars          float64 5
text            object 6
useful           int64 7
user_id         object 8
ctext           object 9
pstar          float64 10
dtype: object

In [20]:
target = df_sorted.shape[0]
print(target)
done = 0
step = 100000
while done < target:
    todo = min(target - done, step)
    for row in np.ascontiguousarray(df_sorted[done:done+todo].values):
        dgo = review(business_id=row[0], date=row[2], stars=row[5], pstars=row[10], text=row[6], ctext=row[9],
                    user_id = row[8], review_id = row[4])
        DB.session.add(dgo)
    DB.session.commit()
    done += todo
    print('done', done, end=" ")

6685900
done 100000 done 200000 done 300000 done 400000 done 500000 done 600000 done 700000 done 800000 done 900000 done 1000000 done 1100000 done 1200000 done 1300000 done 1400000 done 1500000 done 1600000 done 1700000 done 1800000 done 1900000 done 2000000 done 2100000 done 2200000 done 2300000 done 2400000 done 2500000 done 2600000 done 2700000 done 2800000 done 2900000 done 3000000 done 3100000 done 3200000 done 3300000 done 3400000 done 3500000 done 3600000 done 3700000 done 3800000 done 3900000 done 4000000 done 4100000 done 4200000 done 4300000 done 4400000 done 4500000 done 4600000 done 4700000 done 4800000 done 4900000 done 5000000 done 5100000 done 5200000 done 5300000 done 5400000 done 5500000 done 5600000 done 5700000 done 5800000 done 5900000 done 6000000 done 6100000 done 6200000 done 6300000 done 6400000 done 6500000 done 6600000 done 6685900